*{
    font-family: Calibri;
    margin-left: 5px;
}
input:focus{
    background: lightgray;
}
a:hover {
    color: cadetblue; text-decoration: none;
}
div{
    margin-right: auto;
    width: 30%;
    background: aliceblue;
    padding: 0 20px;
    border-radius: 5px;
}
h1{
    color: cadetblue;
}
p{
    font-weight: bold;
    margin-bottom: 1px;
}
p[id="result"]{
    font-weight: normal;
    margin-bottom: 1px;
    display: inline;
}
p[id=resultText]{
    display:inline;
}
input[type=submit],input[type=text],input[type=password]{
    margin-left: auto;
    padding: 4px;
    width: 100%;
    float: left;
}
select{
    width: 100%;
    height: 30px;
}
hr{
    border-top: 1px lightgray;
    color: lightgray;
}
input[type=submit],input[type=button]{
    border: none;
    border-radius: 5px;
    background-color: cadetblue;
    font-size: 20px;
    line-height: 1.5;
    width: 100%;
}